{% extends 'index_1.html' %}
{% block content %}
{% load staticfiles %}
{% load crispy_forms_tags %}

  <script type="text/javascript">
  function SelectDefault()
  {
       // порядковый индекс под которым идёт элемент с  value=7
    document.getElementById("year_1").options[9].selected=true;
    document.getElementById("year_2").options[0].selected=true;

  }

   function Size()
  {
    len =  document.getElementById("year_1").length;
    value_year_1 = document.getElementById("year_1").value;
    console.log(value_year_1);

    document.getElementById("year_2").length = 0;

	    for (var n = 0; n < len; n++)
	    {
	     document.getElementById("year_2").options[n].value = value_year_1 + n ;
	     document.getElementById("year_2").options[n].text = value_year_1 + n ;
	    }


  }
  </script>

<br>
<br>


    <form action="/api-mqtt/gaz_template/" method="get">
    <!--form action="/api-mqtt/gaz_search_result/" method="get"-->

        <br>
         <div class="mx-auto" style="width: 400px;">

               Year 2 :
        <br>


               <select class="custom-select" id="year_2" name="year_2" >
		<option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
      </select>


             Year 1 :
        <br>



        <select class="custom-select" id="year_1" name="year_1" OnChange='Sizebb()' >
		<option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
      </select>
        <br>




        <br>
        <br>
        <input type="submit" class="btn btn-success" value="Search">

      </div>
    </form>


 <script type="text/javascript">

SelectDefault()

  </script>




{% endblock %}