<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
<script src="{% static 'iot/js/sevenSeg.js' %}"></script>


    <meta charset="UTF-8">
    <title>Indicator</title>

</head>
<body>

<div id="seven-seg-array" style="width: 275px"></div>
<script>
    $("#seven-seg-array").sevenSeg({ digits: 4, value: 22.23 });
</script>


</body>
</html>