<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Indicator</title>

{% block content %}
{% load static %}
  <title>Eclipse Paho MQTT JavaScript Client Example</title>
        <link rel="stylesheet" href="{% static 'iot/css/example_1.css' %}">
  <script type="text/javascript" language= "javascript"></script>
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>

<script src="{% static 'iot/js/sevenSeg.js' %}"></script>
<script src="{% static 'iot/js/indicator.js' %}" > </script>
  <script src="{% static 'iot/js/paho-mqtt.js' %}"> </script>


      <!--link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/segment7" type="text/css"/-->


     </head>


  <body>


  <div class="container">

     <div class="row">
       <div  class="col"> <h3> Distance m: </h3></div>
     <div    class="col" > <h3> Speed km/h: </h3></div>

 </div>


     <div class="row">
  <div id="seven-seg-array"  class="col"  ></div>
     <div id="seven-seg-array_v"  class="col"  ></div>

 </div>
 </div>
      <br>


  <div class="container">
      

       <h3> Time: </h3>
  <div class="row">
    <div id="seven-seg-array_h"  class="col"></div>
   <div id="seven-seg-array_m"  class="col"></div>
    <div id="seven-seg-array_s"  class="col"></div>

      <div  id="curve_chart" class="row" ></div>
</div>
</div>


 <div id="messages" class="row"  ></div>



   <script>
  startConnect();
  </script>

  <!--script>

	$(window).on("beforeunload", function() {

		return "Вы уверены, что хотите покинуть страницу?";

	});

	$(document).on("submit", "form", function(event) {

		$(window).off("beforeunload");

	});

</script-->

<form action= "{% url 'orbi_stop' %}" method="LINK">
  <input id="elem" type="submit" class="btn btn-danger" value="Stop" >
<!--script>
  elem.onclick = function() {
    alert('Спасибо');

  };
</script-->
</form>

{% endblock %}

  </body>

</html>