{% extends "index_1.html" %}
{% block content %}
   {% load static %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
 <script link rel="stylesheet" href="{% static 'css/mqtt.css' %}"></script>
    <script type="text/javascript">
 
    var my_chart_1 = [['Date',  'Humidity','Temperature']];
        
    {% for my_chart_hum in my_data_hum %}

    //var dat = {{my_date}}
        my_chart_1.push([new Date( '{{my_chart_hum.created_date}}' ), parseFloat( {{my_chart_hum.payload}} ),20]);
    {% endfor %}
   
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(my_chart_1);
        var options = {
          title: 'Humidity and Temperature',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>

    <div  id="curve_chart" ></div>

	  <div class="table-hover" >
	  
	  <h1>List</h1>
    <table class="table-hover">
        <tr><th>Date</th><th>Topic</th><th>Payload</th></tr>
        {% for mqtt_1 in my_data_hum %}
        <tr><td>{{ mqtt_1.created_date }}</td><td>{{ mqtt_1.topic }}</td><td>{{ mqtt_1.payload }}</td></tr>
        {% endfor %}
    </table>
	  
	  
	  </div>

{% endblock %}