{% extends 'index_1.html' %}
{% block content %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load chart_tags %}


<br>
<br>


<!--form action="/api-mqtt/gaz_template_month/" method="get"-->


   <table class="table table-sm">
        <tr>
            <td><b>Период</b> </td>
            <td><b>Средняя цена/л, грн</b></td>
            <td><b>Всего, грн</b></td>
            <td><b>Заправок</b></td>
            <td><b>Литров</b></td>
            <td><b>Пробег, км</b></td>
            <td><b>Расход </b></td>
        </tr>


           {% for content  in cont  %}
            {% if forloop.last %}
                <tr><td><b>Total:</b></td> <td>  </td><td> </td><td>  </td><td>  </td><td>  </td></tr>

               <tr>
       <td > <b> From {{  content.start_date}} to {{ content.end_date }}  </b></td>
       <td> <b>{{ content.query_Avg |floatformat}} </b></td>
       <td> <b>{{ content.query_Sum |floatformat}} </b></td>
       <td> <b>{{ content.query_Count|floatformat }} </b></td>
       <td> <b>{{ content.query_Liters |floatformat}} </b></td>
       <td> <b>{{ content.distance |floatformat}} </b></td>
       <td> <b>{{ content.rashod |floatformat}} </b></td>

        </tr>



            {% else %}


        <tr>
         <td > <b><a href="http:/api-mqtt/gaz_template_month/?year_1={{ content.start_date}}&year_2={{ content.start_date}}"> {{ content.start_date }}  </b></td>
       <td> {{ content.query_Avg |floatformat}} </td>
       <td> {{ content.query_Sum |floatformat}} </td>
       <td> {{ content.query_Count|floatformat }} </td>
       <td> {{ content.query_Liters |floatformat}} </td>
            <td> {{ content.distance |floatformat}} </td>
             <td> <b>{{ content.rashod |floatformat}} </b></td>

        </tr>

       {% endif %}
       {% endfor %}

       </table>

<table class="table table-sm">

    <tr><td> Заправок </td> <td>{% bar_chart values_count values_dat %}</td><tr>
    <tr> <td>Всего грн </td><td>{% bar_chart values_sum values_dat %}</td><tr>
    <tr> <td>Средняя грн </td><td>{% bar_chart values_avg values_dat %}</td><tr>
    <tr> <td>Литров </td><td>{% bar_chart values_liters values_dat %}</td><tr>
    <tr> <td>Пробег км </td><td>{% bar_chart values_distance values_dat %}</td><tr>
    <tr> <td>Расход </td><td>{% bar_chart values_rashod values_dat %}</td><tr>

</table>

{% endblock %}